*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow: hidden;
    background: #000;
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 100px;
}

.container .block{
    position: relative;
    width: 5vw;
    height: 5vw;
    background: url(./img/photo.jpg);
    background-size: cover;
    /* background-position: center;  */
    background-attachment: fixed;
    transform-style: preserve-3d;
    /* border: 1px solid red; */
    box-sizing: border-box;
    
}


@media (max-width: 520px) {
   .container{
       height: 100vh;

   }

   .container .block{
    width: 25px;
    height: 25px;
}
}


@media (max-width: 420px) {
    .container{
        width: 100%;
        height: 1000px;
    }

    .container .block{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 400px) {
    .container{
        width: 100%;
        height: 1000px;
    }

    .container .block{
        width: 40px;
        height: 40px;
    }
}